// Transition
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// Décalage vers le bas
@keyframes downToLoad {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}

// Décalage vers le haut
@keyframes upToLoad {
    from {
        transform: translateY(300px);
    }
    to {
        transform: translateY(0);
    }
}

// Evite que le texte défile au chargement
@keyframes noMove {
    from {
        transform: translateY(-300px);
    }
    to {
        transform: translateY(0px);
    }
}

// Effet de rotation droite pour la fleur
@keyframes rotateRight {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

// Effet de rotation gauche pour la fleur
@keyframes rotateLeft {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

// Animation pour faire flotter le logo
@keyframes float {
    0%, 100% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(11px, 8px);
    }
    50% {
        transform: translate(6px, 11px);
    }
    75% {
        transform: translate(-11px, 8px);
    }
}