// Transition
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// Décalage vers le bas
@keyframes downToLoad {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

// Décalage vers le haut
@keyframes upToLoad {
    from {
        opacity: 0;
        transform: translateY(300px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

// Evite que le texte défile au chargement
@keyframes noMove {
    from {
        transform: translateY(-300px);
    }
    to {
        transform: translateY(0px);
    }
}

// Effet de rotation droite pour la fleur
@keyframes rotateRight {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

// Effet de rotation gauche pour la fleur
@keyframes rotateLeft {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

// Animation pour faire flotter l'image
@keyframes float {
    0% {
        transform: translate3d(6px,6px,0);
    }
    12% {
        transform: translate3d(0px,6px,0);
    }
    24% {
        transform: translate3d(6px,-4px,0);
    }
    36% {
        transform: translate3d(6px,0px,0);
    }
    48% {
        transform: translate3d(-4px,-6px,0);
    }
    60% {
        transform: translate3d(0px,-4px,0);
    }
    72% {
        transform: translate3d(-8px,6px,0);
    }
    84% {
        transform: translate3d(-4px,0px,0);
    }
    100% {
        transform: translate3d(6px,6px,0); 
    }
}