// Transition
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

// Décalage vers le bas
@keyframes downToLoad {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
    }
}

// Décalage vers le haut
@keyframes upToLoad {
    from {
        transform: translateY(300px);
    }
    to {
        transform: translateY(0);
    }
}

// Fixe le texte au chargement de la page
@keyframes noMove {
    from {
        transform: translateY(-300px);
    }
    to {
        transform: translateY(0px);
    }
}

// Effet de rotation droite
@keyframes rotateRight {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

// Effet de rotation gauche
@keyframes rotateLeft {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

// Animation pour faire flotter le logo
@keyframes float {
    0%, 100% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(11px, 8px);
    }
    50% {
        transform: translate(6px, 11px);
    }
    75% {
        transform: translate(-11px, 8px);
    }
}

/* Animation de flottement des personnages du menu */
@keyframes floatEffect {
    0% { transform: translateY(0); }
    25% { transform: translateY(-10px); }
    50% { transform: translateY(0); }
    75% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}

/* Animation de bas en haut pour l'apparition des liens */
@keyframes slideUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}