   // Animation de descente pour la bannière en arrière-plan
.banner {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1440px;
    animation: downToLoad 1s ease-out forwards, fadeIn 1s ease-out forwards;

    // Animation de flottement pour le logo
    & .container__logo {
        position: absolute;
        background-size: cover;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: float 3s ease-in-out infinite;
    }  
    // Animation de montée pour le logo avec effet parallaxe
    & .banner__logo {
        top: 80px;
        position: sticky;
        z-index: 1000;
        animation: upToLoad 1s ease-out;
        width: 680px;
        height: 479px;
    }
}