// Animation nuages
.story {
    position: relative;

    #place {
        background-image: url('../images/Studio_Koukaki-image_place.png'); /* Image de fond actuelle */
        background-size: cover;
        position: relative;
    }

    .big-cloud, .little-cloud {
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        transition: transform 0.3s ease;
    }

    .big-cloud {
        background-image: url('../images/big_cloud.png'); 
        top: 10%;
        left: 70%; 
        width: 300px;
        height: 250px;
        filter: blur(11px);
    }

    .little-cloud {
        background-image: url('../images/little_cloud.png'); 
        top: 40%;
        left: 60%; 
        width: 150px;
        height: 75px;
        filter: blur(11px);
    }
}