// Animation pour faire tourner les fleurs
.story__article::after {
    content: '';
    background-image: url('../images/Hibiscus.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 182px;
    height: 182px;
    animation: rotateRight 15s linear infinite;
    transform-origin: center;
}

.story h2 {
    &::after {
        content: '';
        background-image: url('../images/Sunflower.png');
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        width: 154px; 
        height: 154px;
        left: 0.7em;
        animation: rotateLeft 10s linear infinite;
        transform-origin: center;
    }
}


#studio {
    & div::before { /* Brindille entre les paragraphes */
        top: 20em;
    }
	& h2 {
        &::before {
			background-image: url('../images/Random_Flower.png');
            overflow: hidden;
			width: 202px;
			height: 199px;
			animation: rotateRight 13s linear infinite;
			transform-origin: center;
		}
		&::after {
			background-image: url('../images/Flower.png');
			width: 108px;
			height: 108px;
			animation: rotateLeft 20s linear infinite;
			transform-origin: center;
		}	
	}
}
#nomination {
    &::before {
        content: '';
        background-image: url("../images/Sunflower.png");
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 8em;
        bottom: 23em;
        width: 216px;
        height: 216px;
        animation: rotateLeft 12s linear infinite;
}
    &::after {
        content: '';
        background-image: url('../images/Orchid.png');
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        right: -4em;
        bottom: 26em;
        width: 172px;
        height: 168px;
        animation: rotateRight 10s linear infinite;
    }
} 

#colophon ul::after {
    content: '';
    background-image: url('../images/Hibiscus.png');
    width: 626px;
    height: 626px;
    animation: rotateLeft 25s linear infinite;
    margin-left: 2em;
    background-size: contain;
    
}

// Fleurs du menu ouvert
.header-nav.open {
    .header-nav_imagesToAnimate {
        position: relative;
        // Fleur Orchidée
        img:nth-child(1) {
            position: absolute;
            bottom: 35em;
            left: -59px;
            height: auto;
            width: 173px;
            z-index: 10;
            animation: rotateLeft 40s linear infinite;
        }
        // Fleur Hibiscus
        img:nth-child(2) {
            position: absolute;
            bottom: -25em;
            left: 1122px;
            width: 626px;
            height: auto;
            z-index: 10;
            animation: rotateLeft 35s linear infinite;
        }
        // Fleur Flower
        img:nth-child(3) {
            position: absolute;
            bottom: 20em;
            left: 213px;
            width: 70px;
            height: auto;
            z-index: 10; 
            animation: rotateRight 28s linear infinite;  
        }
        // Fleur Random_Flower
        img:nth-child(4) {
            position: absolute;
            bottom: 25em;
            left: 1396px;
            width: 76px;
            height: auto;
            z-index: 10; 
            animation: rotateRight 40s linear infinite; 
        }
        // Fleur Sunflower
        img:nth-child(5) {
            position: absolute;
            bottom: 30em;
            left: 1039px;
            width: 216px;
            height: auto;
            z-index: 10; 
            animation: rotateLeft 30s linear infinite;
        }
    }
}