#colophon {
    &::before {
        content: '';
    }
    &::after {
        content: '';
    }
}

// Animation pour monter le footer au chargement
footer {
    animation: upToLoad 1s ease-out forwards;
}