// Applique l'animation effet de transition
section {
    animation: fadeIn 1s ease-out forwards, upToLoad 1s ease-out forwards;

    // Fige les Paragraphes <p>
    & p {
        animation: noMove 1s ease-out forwards; 
    }
    &#story {
        padding-top: 5em;
        & #characters {
            padding-top: 5em;
        }
        & #place {
            padding-top: 5em;
        }
    }
    &#studio {
        padding-top: 5em;
    }
    &#nomination {
        margin-top: 5em;
    }
}