.swiper-container {
    width: 1266px;
    height: 442px;
    margin-left: 12.5em;
    overflow: hidden;
}

// Disposition horizontale
.swiper-wrapper {
    display: flex;
    height: 100%;
    width: 200%;
    margin-left: 174px;
    align-items: center;
    justify-content: center;
}

// Alignement de l'image et du texte verticalement
.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    & .swiper-slide-caption {
        margin-top: 5px;
        font-size: 20px; 
    }
    & img {
        justify-content: space-between;
        width: 400px;
        height: 400px;
    }
}