// Visibilité des titres h2 et h3
.displayTitle {
  display: inline-block;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 1s ease;

  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }
}

#characters {
  background-position: left;
  & .main-character h3 {
    margin-left: -4em;
    margin-top: 10px;
  }
}
// Titre h3 "Les personnages"
h3 #characterTitle {
  padding: 10px;
  margin-left: -15em;
}
  .story #characters h3 {
    background-position: 6em;
    background-size: contain;
  }
