// Visibilité des titres h2 et h3
.displayTitle {
  display: inline-block;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 1s ease;

  &.is-visible {
    opacity: 1;
    transform: translateY(0);
  }
}

// Titre h3 "Les personnages"
h3 #characterTitle {
  margin-left: -20em;
}
  .story #characters h3 {
    background-position: 7.5em;
    background-size: 25%;
    margin-bottom: 1em;
  }
