section {
    opacity: 0;
    animation: fadeIn 1s ease-out forwards; // Animation Transition fade-in 
    &.banner {
        transform: translateY(-100px); // Position initiale vers le haut
        animation: downToLoad 1s ease-out forwards; // Animation pour descendre
        img {
            transform: translateY(200px); // Position initiale vers le bas
            animation: upToLoad 1s ease-out forwards; // Animation pour monter
        }
    }
}
